

<h1 align="center">
  Welcome to countries app, where you can find any country and get info about it!
</h1>

<br><br>

<div class="container">
    <img  src="https://cdn.thinglink.me/api/image/1061115320116183042/1240/10/scaletowidth" alt="Avatar" class="image">
    <div class="overlay">
      <div class="text">Click the "Countries" section to see the list of countries!</div>
    </div>
  </div>
<br><br><br><br>
  <pre align="center">
       Yulian @2019 all right reserved! 
       Yulian Amstislavski |  i.d: 308779115 | Date: 11/Jan/2019
      John Bryce Training | Lecturer: Tomer Keisar | Angular 6.0 project
      
    </pre>
    